@{
    ViewBag.Title = "About";
}
<link rel="canonical" href="http://www.lcfcthai.com/kingpowercup/">
<!-- / Yoast SEO plugin. -->

<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="Leicester City Football Club TH » Feed" href="http://www.lcfcthai.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Leicester City Football Club TH » Comments Feed" href="http://www.lcfcthai.com/comments/feed/">
<script src="http://www.lcfcthai.com/wp-includes/js/wp-emoji-release.min.js?ver=4.8.1" type="text/javascript" defer=""></script>
<style type="text/css">
    img.wp-smiley,
    img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
</style>
<link rel="stylesheet" id="css-pool-css" href="http://www.lcfcthai.com/wp-content/plugins/football-pool/assets/pool.css?ver=2.6.0" type="text/css" media="all">
<link rel="stylesheet" id="css-colorbox-css" href="http://www.lcfcthai.com/wp-content/plugins/football-pool/assets/colorbox/colorbox.css?ver=2.6.0" type="text/css" media="all">
<link rel="stylesheet" id="style-css" href="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/style.css?ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="Open-Sans-Condensed-google-font-css" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%2C300italic%2C700&amp;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&amp;ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="Open-Sans-google-font-css" href="http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;subset=greek%2Ccyrillic-ext%2Ccyrillic%2Clatin%2Clatin-ext%2Cvietnamese%2Cgreek-ext&amp;ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="ABeeZee-google-font-css" href="http://fonts.googleapis.com/css?family=ABeeZee%3Aregular%2Citalic&amp;subset=latin&amp;ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="superfish-css" href="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/plugins/superfish/css/superfish.css?ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="dlmenu-css" href="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/plugins/dl-menu/component.css?ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/plugins/font-awesome/css/font-awesome.min.css?ver=4.8.1" type="text/css" media="all">
<!--[if lt IE 8]>
<link rel='stylesheet' id='font-awesome-ie7-css'  href='http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/plugins/font-awesome/css/font-awesome-ie7.min.css?ver=4.8.1' type='text/css' media='all' />
<![endif]-->
<link rel="stylesheet" id="jquery-fancybox-css" href="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/plugins/fancybox/jquery.fancybox.css?ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="flexslider-css" href="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/plugins/flexslider/flexslider.css?ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="style-responsive-css" href="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/stylesheet/style-responsive.css?ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="style-custom-css" href="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/stylesheet/style-custom.css?ver=4.8.1" type="text/css" media="all">
<link rel="stylesheet" id="ms-main-css" href="http://www.lcfcthai.com/wp-content/plugins/masterslider/public/assets/css/masterslider.main.css?ver=2.25.4" type="text/css" media="all">
<link rel="stylesheet" id="ms-custom-css" href="http://www.lcfcthai.com/wp-content/uploads/masterslider/custom.css?ver=2.3" type="text/css" media="all">
<script type="text/javascript" src="http://www.lcfcthai.com/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
<script type="text/javascript" src="http://www.lcfcthai.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
<script type="text/javascript">
/* <![CDATA[ */
var FootballPool_i18n = {"count_second":"second","count_seconds":"seconds","count_day":"day","count_days":"days","count_hour":"hour","count_hours":"hours","count_minute":"minute","count_minutes":"minutes","count_pre_before":"Wait ","count_post_before":" before the tournament starts","count_pre_after":"","count_post_after":" ago the tournament started."};
/* ]]> */
</script>
<script type="text/javascript" src="http://www.lcfcthai.com/wp-content/plugins/football-pool/assets/pool.min.js?ver=2.6.0"></script>
<script type="text/javascript" src="http://www.lcfcthai.com/wp-content/plugins/football-pool/assets/colorbox/jquery.colorbox-min.js?ver=2.6.0"></script>
<link rel="https://api.w.org/" href="http://www.lcfcthai.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.lcfcthai.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.lcfcthai.com/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 4.8.1">
<link rel="shortlink" href="http://www.lcfcthai.com/?p=8189">
<link rel="alternate" type="application/json+oembed" href="http://www.lcfcthai.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.lcfcthai.com%2Fkingpowercup%2F">
<link rel="alternate" type="text/xml+oembed" href="http://www.lcfcthai.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.lcfcthai.com%2Fkingpowercup%2F&amp;format=xml">
<script>var ms_grabbing_curosr='http://www.lcfcthai.com/wp-content/plugins/masterslider/public/assets/css/common/grabbing.cur',ms_grab_curosr='http://www.lcfcthai.com/wp-content/plugins/masterslider/public/assets/css/common/grab.cur';</script>
<meta name="generator" content="MasterSlider 2.25.4 - Responsive Touch Image Slider">
<script type="text/javascript">
							SG_POPUPS_QUEUE = [];
							SG_POPUP_DATA = [];
							SG_APP_POPUP_URL = 'http://www.lcfcthai.com/wp-content/plugins/popup-builder';
							SG_POPUP_VERSION='2.62_1;';
							function sgAddEvent(element, eventName, fn) {
								if (element.addEventListener)
									element.addEventListener(eventName, fn, false);
								else if (element.attachEvent)
									element.attachEvent('on' + eventName, fn);
							}
</script>
<style>
    span > iframe {
        max-width: none !important;
    }
</style>
<link rel="shortcut icon" href="http://www.lcfcthai.com/wp-content/uploads/2015/01/lcfc-logo.png" type="image/x-icon">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57674503-1', 'auto');
  ga('send', 'pageview');

</script><!-- load the script for older ie version -->
<!--[if lt IE 9]>
<script src="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/javascript/html5.js" type="text/javascript"></script>
<script src="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/plugins/easy-pie-chart/excanvas.js" type="text/javascript"></script>
<![endif]-->
<style type="text/css">
    .recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
    }
</style>
<link rel="icon" href="http://www.lcfcthai.com/wp-content/uploads/2015/01/cropped-lcfc-logo-32x32.png" sizes="32x32">
<link rel="icon" href="http://www.lcfcthai.com/wp-content/uploads/2015/01/cropped-lcfc-logo-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="http://www.lcfcthai.com/wp-content/uploads/2015/01/cropped-lcfc-logo-180x180.png">
<meta name="msapplication-TileImage" content="http://www.lcfcthai.com/wp-content/uploads/2015/01/cropped-lcfc-logo-270x270.png">
<style type="text/css">
    .fancybox-margin {
        margin-right: 18px;
    }
</style>
<header class="gdlr-header-wrapper ">
    <!-- top navigation -->
    <div class="top-navigation-wrapper">
        <div class="top-navigation-container container">
            <div class="top-navigation-left">
                <div class="top-navigation-left-text">
                    <img src="http://www.lcfcthai.com/wp-content/uploads/2016/06/kpg-01.png" alt="KingPowerGroup">
                </div>
            </div>
            <div class="top-navigation-right">
                <div class="top-social-wrapper">
                    <div class="social-icon">
                        <a href="mailto:leicesterth@gmail.com" target="_blank">
                            <img width="32" height="32" src="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/images/light/social-icon/email.png" alt="Email">
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="http://www.facebook.com/leicesterth" target="_blank">
                            <img width="32" height="32" src="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/images/light/social-icon/facebook.png" alt="Facebook">
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="http://www.twitter.com/leicesterth" target="_blank">
                            <img width="32" height="32" src="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/images/light/social-icon/twitter.png" alt="Twitter">
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="https://www.youtube.com/user/LeicesterTH" target="_blank">
                            <img width="32" height="32" src="http://www.lcfcthai.com/wp-content/themes/realsoccer-v1-08/images/light/social-icon/youtube.png" alt="Youtube">
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!-- logo -->
    <div class="gdlr-header-inner">
        <div class="gdlr-header-container container">
            <!-- logo -->
            <div class="gdlr-logo">
                <a href="http://www.lcfcthai.com">
                    <img src="http://www.lcfcthai.com/wp-content/uploads/2014/11/Lcfc-leicesterth.png" alt="Leicester City Thailand Fanclub" width="320" height="320">
                </a>
                <div class="gdlr-responsive-navigation dl-menuwrapper" id="gdlr-responsive-navigation">
                    <button class="dl-trigger">Open Menu</button><ul id="menu-top-manu" class="dl-menu gdlr-main-mobile-menu">
                        <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-10"><a href="http://www.lcfcthai.com/">หน้าแรก</a></li>
                        <li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-421">
                            <a title="ข่าวสารสโมสรฟุตบอล เลสเตอร์ ซิตี้" href="http://www.lcfcthai.com/lcfc-news/">ข่าวสาร</a>
                            <ul class="dl-submenu">
                                <li class="dl-back"><a href="#">back</a></li>
                                <li class="menu-item gdlr-parent-menu"><a title="ข่าวสารสโมสรฟุตบอล เลสเตอร์ ซิตี้" href="http://www.lcfcthai.com/lcfc-news/">ข่าวสาร</a></li>
                                <li id="menu-item-975" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-975"><a title="ข่าวสโมสรเลสเตอร์ ซิตี้" href="http://www.lcfcthai.com/foxes-news/">ข่าวสโมสรเลสเตอร์ ซิตี้</a></li>
                                <li id="menu-item-978" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-978"><a title="ข่าวการซื้อ-ขาย สโมสรเลสเตอร์ ซิตี้" href="http://www.lcfcthai.com/player-transfer/">ข่าวการซื้อ-ขาย</a></li>
                                <li id="menu-item-6359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6359"><a title="บทความ สโมสรเลสเตอร์ ซิตี้" href="http://www.lcfcthai.com/foxes-story/">บทความ</a></li>
                                <li id="menu-item-982" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-982"><a href="http://www.lcfcthai.com/news-academy/">ข่าวอะคาเดมี่ คลับ</a></li>
                                <li id="menu-item-994" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-994"><a href="http://www.lcfcthai.com/promotion-product/">ข่าวโปรโมชั่นสินค้า</a></li>
                                <li id="menu-item-995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-995"><a href="http://www.lcfcthai.com/activity-leicestercity/">กิจกรรมจิ้งจอกสยาม</a></li>
                                <li id="menu-item-881" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-881"><a href="http://www.lcfcthai.com/promotions-lcfcthailand/">โปรโมชั่น</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-5383" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5383">
                            <a href="#">การแข่งขัน</a>
                            <ul class="dl-submenu">
                                <li class="dl-back"><a href="#">back</a></li>
                                <li id="menu-item-457" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-457"><a href="http://www.lcfcthai.com/premier-league-schedule/">โปรแกรม และผลการแข่งขัน</a></li>
                                <li id="menu-item-300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a href="http://www.lcfcthai.com/league-table/">ตารางคะแนนพรีเมียร์ลีก</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1683" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1683"><a target="_blank" href="https://www.kingpower.com/th/brands/leicester-city-football-club.html">ช้อปปิ้ง</a></li>
                        <li id="menu-item-2589" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2589">
                            <a title="ผู้เล่นและสตาฟฟ์">ผู้เล่นและสตาฟฟ์</a>
                            <ul class="dl-submenu">
                                <li class="dl-back"><a href="#">back</a></li>
                                <li id="menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="http://www.lcfcthai.com/first-team-squad/">ทีมชุดใหญ่</a></li>
                                <li id="menu-item-3299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3299"><a href="http://www.lcfcthai.com/coaching-staff/">สต๊าฟโค้ช</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-177">
                            <a href="http://www.lcfcthai.com/leicestercity-international-academy/">อะคาเดมี่ คลับ</a>
                            <ul class="dl-submenu">
                                <li class="dl-back"><a href="#">back</a></li>
                                <li class="menu-item gdlr-parent-menu"><a href="http://www.lcfcthai.com/leicestercity-international-academy/">อะคาเดมี่ คลับ</a></li>
                                <li id="menu-item-1025" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1025">
                                    <a href="#">เกี่ยวกับอะคาเดมี่ คลับ</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">back</a></li>
                                        <li id="menu-item-1021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021"><a href="http://www.lcfcthai.com/about-academy-club/">ความเป็นมาโครงการ</a></li>
                                        <li id="menu-item-1028" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1028"><a href="http://www.lcfcthai.com/objective-leicester-city/">วัตถุประสงค์ และเป้าหมายโครงการ</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-1029" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1029">
                                    <a title="เยาวชนจิ้งจอกสยาม Fox Hunt" href="#">เยาวชนจิ้งจอกสยาม Fox Hunt</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">back</a></li>
                                        <li id="menu-item-15222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15222"><a title="Fox Hunt รุ่นที่ 2" href="http://www.lcfcthai.com/fox-hunt-v2/">Fox Hunt รุ่นที่ 2</a></li>
                                        <li id="menu-item-15218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15218"><a title="Fox Hunt รุ่นที่ 1" href="http://www.lcfcthai.com/fox-hunt-v1/">Fox Hunt รุ่นที่ 1</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-8191" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-8189 current_page_item menu-item-8191"><a title="King Power’s Cup" href="http://www.lcfcthai.com/kingpowercup/">King Power’s Cup</a></li>
                                <li id="menu-item-8197" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8197"><a title="Goal Thailand TV" href="http://www.lcfcthai.com/goal-thailand-tv/">Goal Thailand TV</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-5382" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5382">
                            <a href="#">เกี่ยวกับสโมสร</a>
                            <ul class="dl-submenu">
                                <li class="dl-back"><a href="#">back</a></li>
                                <li id="menu-item-4086" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4086"><a href="http://www.lcfcthai.com/about-leicestercity/">ประวัติสโมสรเลสเตอร์ ซิตี้</a></li>
                                <li id="menu-item-4084" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4084"><a href="http://www.lcfcthai.com/history-of-leicester-city/">ประวัติเมืองเลสเตอร์</a></li>
                                <li id="menu-item-4082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4082"><a href="http://www.lcfcthai.com/leicester-city-club-series/">ชุดสโมสรเลสเตอร์ ซิตี้</a></li>
                                <li id="menu-item-4085" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4085"><a href="http://www.lcfcthai.com/kingpower-stadium/">คิง เพาเวอร์ สเตเดี้ยม</a></li>
                                <li id="menu-item-4083" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4083"><a href="http://www.lcfcthai.com/hall-of-fame-leicester-city/">หอเกียรติยศ สโมสรเลสเตอร์ ซิตี้</a></li>
                                <li id="menu-item-5132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5132">
                                    <a href="#">สถิติสโมสรเลสเตอร์ ซิตี้</a>
                                    <ul class="dl-submenu">
                                        <li class="dl-back"><a href="#">back</a></li>
                                        <li id="menu-item-5822" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5822"><a href="http://www.lcfcthai.com/leagueoverall/">สถิติลีกสูงสุดแต่ละฤดูกาล</a></li>
                                        <li id="menu-item-5133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5133"><a href="http://www.lcfcthai.com/list-manager/">ทำเนียบผู้จัดการ</a></li>
                                        <li id="menu-item-5751" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5751"><a href="http://www.lcfcthai.com/topscorers/">สถิติคนทำประตูสูงสุด</a></li>
                                        <li id="menu-item-5774" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5774"><a href="http://www.lcfcthai.com/everpresent/">นักเตะที่ลงเล่นมากที่สุด</a></li>
                                        <li id="menu-item-6005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6005"><a href="http://www.lcfcthai.com/list-players/">นักเตะเลสเตอร์ แต่ละฤดูกาล</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- navigation -->
            <div class="gdlr-navigation-wrapper">
                <div class="gdlr-navigation-container container">
                    <nav class="gdlr-navigation sf-js-enabled sf-arrows" id="gdlr-main-navigation" role="navigation">
                        <ul id="menu-top-manu-1" class="sf-menu gdlr-main-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-10menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-10 gdlr-normal-menu"><a href="http://www.lcfcthai.com/">หน้าแรก</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-421menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-421 gdlr-normal-menu">
                                <a title="ข่าวสารสโมสรฟุตบอล เลสเตอร์ ซิตี้" href="http://www.lcfcthai.com/lcfc-news/" class="sf-with-ul">ข่าวสาร</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-975"><a title="ข่าวสโมสรเลสเตอร์ ซิตี้" href="http://www.lcfcthai.com/foxes-news/">ข่าวสโมสรเลสเตอร์ ซิตี้</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-978"><a title="ข่าวการซื้อ-ขาย สโมสรเลสเตอร์ ซิตี้" href="http://www.lcfcthai.com/player-transfer/">ข่าวการซื้อ-ขาย</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6359"><a title="บทความ สโมสรเลสเตอร์ ซิตี้" href="http://www.lcfcthai.com/foxes-story/">บทความ</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-982"><a href="http://www.lcfcthai.com/news-academy/">ข่าวอะคาเดมี่ คลับ</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-994"><a href="http://www.lcfcthai.com/promotion-product/">ข่าวโปรโมชั่นสินค้า</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-995"><a href="http://www.lcfcthai.com/activity-leicestercity/">กิจกรรมจิ้งจอกสยาม</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-881"><a href="http://www.lcfcthai.com/promotions-lcfcthailand/">โปรโมชั่น</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5383menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5383 gdlr-normal-menu">
                                <a href="#" class="sf-with-ul">การแข่งขัน</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-457"><a href="http://www.lcfcthai.com/premier-league-schedule/">โปรแกรม และผลการแข่งขัน</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a href="http://www.lcfcthai.com/league-table/">ตารางคะแนนพรีเมียร์ลีก</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1683menu-item menu-item-type-custom menu-item-object-custom menu-item-1683 gdlr-normal-menu"><a target="_blank" href="https://www.kingpower.com/th/brands/leicester-city-football-club.html"><i class="icon-shopping-cart"></i>ช้อปปิ้ง</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2589menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2589 gdlr-normal-menu">
                                <a title="ผู้เล่นและสตาฟฟ์" class="sf-with-ul">ผู้เล่นและสตาฟฟ์</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="http://www.lcfcthai.com/first-team-squad/">ทีมชุดใหญ่</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3299"><a href="http://www.lcfcthai.com/coaching-staff/">สต๊าฟโค้ช</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-177menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-177 gdlr-mega-menu">
                                <a href="http://www.lcfcthai.com/leicestercity-international-academy/" class="sf-with-ul">อะคาเดมี่ คลับ</a><div class="sf-mega" style="display: none;">

                                    <div class="sf-mega-section three columns first-column" data-size="1/4" data-row="1">
                                        <div class="sf-mega-section-inner menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1025" style="height: 125px;">
                                            <a href="#">เกี่ยวกับอะคาเดมี่ คลับ</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1021"><a href="http://www.lcfcthai.com/about-academy-club/">ความเป็นมาโครงการ</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1028"><a href="http://www.lcfcthai.com/objective-leicester-city/">วัตถุประสงค์ และเป้าหมายโครงการ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sf-mega-section three columns" data-size="1/4" data-row="1">
                                        <div class="sf-mega-section-inner menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1029" style="height: 125px;">
                                            <a title="เยาวชนจิ้งจอกสยาม Fox Hunt" href="#">เยาวชนจิ้งจอกสยาม Fox Hunt</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15222"><a title="Fox Hunt รุ่นที่ 2" href="http://www.lcfcthai.com/fox-hunt-v2/">Fox Hunt รุ่นที่ 2</a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15218"><a title="Fox Hunt รุ่นที่ 1" href="http://www.lcfcthai.com/fox-hunt-v1/">Fox Hunt รุ่นที่ 1</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sf-mega-section three columns" data-size="1/4" data-row="1"><div class="sf-mega-section-inner menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-8189 current_page_item menu-item-8191" style="height: 125px;"><a title="King Power’s Cup" href="http://www.lcfcthai.com/kingpowercup/"><i class="icon-trophy"></i>King Power’s Cup</a></div></div>
                                    <div class="sf-mega-section three columns" data-size="1/4" data-row="1"><div class="sf-mega-section-inner menu-item menu-item-type-post_type menu-item-object-page menu-item-8197" style="height: 125px;"><a title="Goal Thailand TV" href="http://www.lcfcthai.com/goal-thailand-tv/">Goal Thailand TV</a></div></div>

                                </div>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5382menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5382 gdlr-normal-menu">
                                <a href="#" class="sf-with-ul">เกี่ยวกับสโมสร</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4086"><a href="http://www.lcfcthai.com/about-leicestercity/">ประวัติสโมสรเลสเตอร์ ซิตี้</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4084"><a href="http://www.lcfcthai.com/history-of-leicester-city/">ประวัติเมืองเลสเตอร์</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4082"><a href="http://www.lcfcthai.com/leicester-city-club-series/">ชุดสโมสรเลสเตอร์ ซิตี้</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4085"><a href="http://www.lcfcthai.com/kingpower-stadium/">คิง เพาเวอร์ สเตเดี้ยม</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4083"><a href="http://www.lcfcthai.com/hall-of-fame-leicester-city/">หอเกียรติยศ สโมสรเลสเตอร์ ซิตี้</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5132">
                                        <a href="#" class="sf-with-ul">สถิติสโมสรเลสเตอร์ ซิตี้</a>
                                        <ul class="sub-menu" style="display: none;">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5822"><a href="http://www.lcfcthai.com/leagueoverall/">สถิติลีกสูงสุดแต่ละฤดูกาล</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5133"><a href="http://www.lcfcthai.com/list-manager/">ทำเนียบผู้จัดการ</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5751"><a href="http://www.lcfcthai.com/topscorers/">สถิติคนทำประตูสูงสุด</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5774"><a href="http://www.lcfcthai.com/everpresent/">นักเตะที่ลงเล่นมากที่สุด</a></li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6005"><a href="http://www.lcfcthai.com/list-players/">นักเตะเลสเตอร์ แต่ละฤดูกาล</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav><i class="icon-search gdlr-menu-search-button" id="gdlr-menu-search-button"></i>
                    <div class="gdlr-menu-search" id="gdlr-menu-search">
                        <form method="get" id="searchform" action="http://www.lcfcthai.com/">
                            <div class="search-text">
                                <input type="text" value="Type Keywords" name="s" autocomplete="off" data-default="Type Keywords">
                            </div>
                            <input type="submit" value="">
                            <div class="clear"></div>
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
            </div><div id="gdlr-header-substitute"></div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>
</header>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
