@model isport_foxhun.Models.PlayerViewModelList
@{
    ViewBag.Title = "Home Page";
}

<script>

    $("#frm-search").submit(function (event) {
        //alert("Handler for .submit() called.");
        event.preventDefault();
    });

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut(300);
    }

    function successPaging() {
        // Animate
        $('html, body').animate({ scrollTop: 0 }, 500);
        $('#grid-list').fadeIn(300);
        //$('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }
</script>

<div id="grid-index" class="jumbotron" style="background:url(isport_foxhunt/images/bg4.jpg) no-repeat center">
    <h1>สมัคร  KING POWER'S CUP 2017 </h1>
    <div class="row">
        <div class="col-md-8">
            <p class="lead">
                ด้วย บริษัท คิง เพาเวอร์ ร่วมกับ กรมพลศึกษา และบริษัท ไอสปอร์ต จำกัด ได้ดำเนินการจัดการแข่งขันฟุตบอลรุ่นอายุไม่เกิน 15 ปี ชิงชนะเลิศแห่งประเทศไทย ประจำปี 2560  เพื่อเปิดโอกาสและส่งเสริมให้เยาวชนที่มีทักษะด้านกีฬาฟุตบอลได้ร่วมการแข่งขัน และยังสามารถพัฒนาทักษะฟุตบอลให้ก้าวไกลเป็นตัวแทนระดับชาติต่อไป
            </p>
        </div>
        <div class="col-md-4">
            <a href="#"><img src="~/images/download_images.png"/></a>
            </div>
        </div>
    1. ระเบียบนี้มีรียกว่า  “ระเบียบการแข่งขันฟุตบอลรุ่นอายุไม่เกิน 15 ปี ประจำปี 2560 “ “ KING POWER CUP 2017 ”<br />
    2. สิทธิในการสมัครเข้าร่วมการแข่งขัน<br />
    •	เริ่มเปิดรับสมัครวันที่ 21 – 28  กันยายน  2560  ติดต่อดาวน์โหลดใบสมัครได้ที่ www.kingpowercup.com เบอร์โทร. <br />
    •	การรับสมัครแบ่งเป็น 6 ภาค  แต่ละภาครับจำนวน 12 ทีม  ยกเว้นกรุงเทพมหานครรับจำนวน 24 ทีม<br /><br />
    <br />
    3. คุณสมบัติของผู้สมัคร<br />
    •	ผู้สมัครต้องเป็นเพศชาย สัญชาติไทย และเป็นผู้มีบัตรประจำตัวประชาชน<br />
    •	นักเรียน ที่สมัครแข่งขันต้องศึกษาอยู่ในสถานศึกษา ในหลักสูตรการศีกษาระดับมัธยมศึกษา และศึกษาในภาคปกติ โดยต้องเข้าศึกษาสถานศึกษานั้นๆ ก่อนวันที่ 15 มิถุนายน 2560<br />
    •	นักเรียนที่มีชื่ออยู่  2 สถาบัน ไม่มีสิทธิเข้าร่วมการแข่งขัน<br />
    •	นักเรียน 1 คน สามารถสมัครเข้าแข่งขันเพียง  1  ทีมเท่านั้น หากมีรายชื่อซ้ำซ้อน จะถูกตัดสิทธิ์ไม่ให้เข้าร่วมแข่งขันตลอดทัวร์นาเม้นท์  โดยจะอ้างว่ามีผู้นำชื่อตนเองไปเข้าสมัครแข่งขัน โดยตนเองไม่ทราบไม่ได้<br />
    •	นักเรียนทุกคนที่เข้าร่วมสมัครการแข่งขันจะต้องมีสถานศึกษารับรองการศึกษาที่ออกจากทางโรงเรียน และลงนามโดยผู้อำนวยการโรงเรียน  อาจารย์ใหญ่ หรือฝ่ายทะเบียนที่สถานศึกษาของนักเรียนอยู่ในปัจจุบัน<br />
    <br />
    <br />
    4.เอกสารและหลักฐานในการสมัคร<br />
    •	โรงเรียนที่แจ้งความจำนงเข้าร่วมเมื่อส่งเอกสารเป็นที่เรียบร้อยแล้วจะถือว่าทางโรงเรียนได้รับทราบระเบียบการแข่งขันเป็นที่ชัดเจนแล้ว และยินยอมปฎิบัติตามระเบียบการแข่งขันฯโดยจะอ้างว่าไม่ทราบไม่รู้เรื่องไม่ได้ และเมื่อฝ่ายจัดการแข่งขันได้แจ้งขอความร่วมมือกับทางโรงเรียน เรื่องการแถลงข่าว การจับสลากการแข่งขัน การประชุมทีม ทางโรงเรียนจะต้องส่งผู้แทนเข้าร่วมตามวันเวลาที่ฝ่ายจัดการแข่งขันกำหนด<br />
    •	ใบสมัครขอเข้าร่วมการแข่งขันของทีม ผู้อำนวยการโรงเรียนหรือผู้มีอำนาจลงนามเท่านั้น<br />
    •	รูปของนักกีฬาขนาด 1 นิ้ว จำนวน 2 รูป ต้องเป็นชุดของโรงเรียนเท่านั้น และเป็นรูปแบบเดียวกัน เจ้าหน้าทีทีมต้องใส่ชุดสุภาพไม่สวมหมวกและใส่แว่นตาดำ (รูปถ่ายต้องไม่เกิน 6 เดือน)<br />
    •	สำเนาบัตรประชาชน<br />
    •	ใบรับรองจากสถานศึกษาประทับตราสถาศึกษาและผู้มีอำนาจลงนามรับรองเท่านั้น<br />
    •	เอกสารทุกชิ้นทางฝ่ายจัดการแข่งขันจะใช้เป็นหลักฐานจนกว่าจะเสร็จสิ้นการแข่งขัน<br />
    •	การส่งรายชื่อนักกีฬา ส่งได้ไม่น้อยกว่า 15 คนและไม่เกิน 20 คน  เจ้าหน้าที่ทีม จำนวน 5 คน<br />
    <br />
    5.การดำเนินการแข่งขัน<br />
    (รอบคัดเลือกตัวแทนภาค)<br />
    •	รอบแรก 12 ทีม (หากททีมเกิน 12 ทีมจะทำการแข่งขันนอกรอบโดยแข่งขันแบบแพ้คัดออกให้เหลือ 12 ทีม) แข่งขันแบบแบ่งสาย 4 สาย สายละ 3 ทีม แข่งขันแบบพบกันหมดในสาย ทีมชนะ ได้ 3 คะแนน ทีมเสมอได้ 1 คะแนน  ทีมแพ้ได้ 0 คะแนน
    (ถ้าคะแนนเท่ากันให้พิจารณาทีมเข้ารอบดังต่อไปนี้  ให้ดูผลแข่งขันคู่กรณี (head to head) / ใบเหลืองใบแดง / จับสลาก)
    เอาอันดับที่ 1 ของแต่ละสายเข้ารอบต่อไป<br />
    •	รอบที่สอง ทีมที่เป็นที่ 1 ของแต่ละสายประกบคู่การแข่งขัน สาย A พบ สาย B  และ สาย C พบ สาย D และผู้ชนะของแต่ละสายได้สิทธิเป็นตัวแทนภาคเข้าไปแข่งขันรอบชิงชนะเลิศแห่งประเทศไทยต่อไป (ผลการแข่งขันเสมอกันให้หาผู้ชนะโดยการเตะโทษ ณ จุดเตะโทษ โดยไม่มีการต่อเวลาการแข่งขัน)<br />
    <br />
    (รอบกรุงเทพมหานคร)<br />
    <br />
    รอบแรก 24 ทีม  (หากทีมเกิน 24  ทีมจะทำการแข่งขันนอกรอบโดยแข่งขันแบบแพ้คัดออกให้เหลือ 24 ทีม) แข่งขันแบบแบ่งสาย 6 สาย สายละ 4 ทีม แข่งขันแบบพบกันหมดในสาย ทีมที่มีคะแนนเป็นอันดับที่ 1 ของแต่ละสายจะได้เข้าไปเล่นรอบชิงชนะเลิศแห่งประเทศไทยต่อไป
    คะแนนการแข่งขันให้ถือเกณฑ์การให้คะแนน  ทีมชนะได้ 3 คะแนน  ทีมเสมอได้ 1 คะแนน ทีมแพ้ได้ 0 คะแนน<br />
    •	(ถ้าคะแนนเท่ากันให้พิจารณาทีมเข้ารอบดังต่อไปนี้  ให้ดูผลแข่งขันคู่กรณี (head to head) / ใบเหลืองใบแดง / จับสลาก)<br />
    <br />
    (รอบชิงชนะเลิศแห่งประเทศไทย)<br />
    •	รอบแรก 16 ทีม  แบ่งสาย 4 สาย สายละ 4 ทีม แข่งขันแบบพบกันหมดในสาย ทีมที่มีคะแนนเป็นอันดับ 1 และ 2 แต่ละสายเข้าไปเล่นรอบต่อไป
    คะแนนการแข่งขันให้ถือเกณฑ์การให้คะแนน  ทีมชนะได้ 3 คะแนน  ทีมเสมอได้ 1 คะแนน ทีมแพ้ได้ 0 คะแนน
    (ถ้าคะแนนเท่ากันให้พิจารณาทีมเข้ารอบดังต่อไปนี้  ให้ดูผลแข่งขันคู่กรณี (head to head) / ใบเหลืองใบแดง / จับสลาก)<br />
    •	การแข่งขันตั้งแต่รอบที่สองถึงรอบชิงชนะเลิศ ใช้ระบบแข่งขันแบบแพ้คัดออก (ผลการแข่งขันเสมอกันให้หาผู้ชนะโดยการเตะโทษ ณ จุดเตะโทษ โดยไม่มีการต่อเวลาการแข่งขันจนถึงรอบชิงชนะเลิศ)<br />
    <br />
    6.กติกาและข้อปฎิบัติในการแข่งขัน<br />
    •	กติกาการแข่งขัน ให้ใช้กติกาของสหพันธ์ฟุตบอลนานาชาติ (FIFA) ซึ่งสมาคมกีฬาฟุตบอลแห่งประเทศไทย ในพระบรมราชูปถัมภ์ และกรมพลศึกษาใช้อยู่ปัจจุบัน<br />
    •	ครูที่มีชื่อในการควบคุมทีมหรือผู้ฝึกสอนของสถานศึกษาที่ส่งทีมเข้าร่วมการแข่งขัน จะต้องประสานงานกับฝ่ายจัดการแข่งขันก่อนวันเริ่มแข่งขัน เพื่อตรวจสอบความถูกต้องเพื่อให้การแข่งขันดำเนินไปด้วยความเรียบร้อย และสามารถควบคุมทีมให้อยู่ในกฎและระเบียบอย่างเคร่งครัด หากครูผู้ควบคุมหรือผู้ฝึกสอนละเลย ไม่ตรวจสอบแล้ว เกิดความเสียหาย ทางฝ่ายจัดการแข่งขันจะไม่รับผิดชอบใดๆทั้งสิ้น<br />
    •	ให้แต่ละทีมรายงานตัวก่อนการแข่งขัน 45 นาที และทีมใดไม่พร้อมที่จะลงทำการแข่งขันเลยเวลาที่กำหนด ให้ปรับทีมนั้นเป็นแพ้ 2-0<br />
    •	ทีมใดไม่มาทำการแข่งขันหรือเจตนาไม่มาทำการแข่งขันตามกำหนดการหรือผละออกจากการแข่งขัน ทางคณะกรรมการจัดการแข่งขันจะพิจารณาลงโทษห้ามเข้าแข่งขันในรายการที่เหลือ และยกเลิกผลการแข่งขันที่ผ่านมา ทั้งรวมปรับไม่ให้เข้าร่วมการแข่งขัน 2 ปี  และตัดสิทธิ์เงินสนับสนุนทีม ยกเว้นเหตุสุดวิสัย อุบัติเหตุ ให้คณะกรรมการจัดการแข่งขันพิจารณา<br />
    •	นักกีฬาที่เข้าร่วมการแข่งขันต้องแต่งกายให้เรียบร้อยตามที่ฝ่ายจัดการแข่งขันได้จัดเตรียมไว้ให้ ในกรณีที่สีเสื้อเหมือนกับคู่แข่งขัน ให้ชื่อที่อยู่ด้านหลังเป็นผู้เปลี่ยนเสื้อสำรอง<br />
    •	ในวันแข่งขันให้ส่งรายชื่อได้ 18 คนและต้องใส่หมายเลขชุดแข่งขัน<br />
    •	ในระหว่างการแข่งขัน ผู้ฝึกสอนและนักกีฬาสำรองจะต้องใส่เสื้อสีที่แตกต่างจากผู้เล่นตัวจริง<br />
    •	นักกีฬาที่ถูกพักการแข่งขัน ไม่อนุญาตให้อยู่ในที่นั่งผู้เล่นสำรอง<br />
    •	ที่พักผู้เล่นสำรอง อนุญาตให้มีเจ้าหน้าที่ที่มี ID CARD จำนวน 5 คน และผู้เล่นสำรองที่มี ID CARD จำนวน 7 คน<br />
    •	กำหนดการแข่งขันแบ่งออกเป็น 2 ครึ่ง ๆละ 35  นาที พักไม่เกิน 10 นาที<br />
    •	นักกีฬาต้องสวมรองเท้าฟุตบอลที่มีความปลอดภัยสูงเท่านั้น<br />
    •	ผู้เล่นทุกคนต้องสวมสนับแข้งขนาดมาตรฐานขณะลงทำการแข่งขัน หากมีผู้เล่นฝ่าฝืนไม่ปฎิบัติตาม ให้พักผู้เล่นคนนั้นหรือจนกว่าจะปฎิบัติตามให้ถูกต้อง<br />
    •	หัวหน้าทีมจะต้องมีปลอกแขนแสดงสัญลักษณ์ทุกครั้งที่ลงทำการแข่งขัน<br />
    •	การเปลี่ยนตัวผู้เล่น อนุญาตให้เปลี่ยนผู้เล่นได้ 3 คน<br />
    •	ในกรณีที่อยู่ในระหว่างการแข่งขันและเกิดเหตุการณ์ไม่ปกติหรือฝนตกหนัก พื้นสนามไม่อยู่ในความพร้อมแข่งขันให้ผู้ตัดสินพิจารณาแล้วสั่งยุติการแข่งขันในวันนั้น ให้คงผลการแข่งขันไว้คงเดิมและให้ทำการแข่งขันในวันที่ฝ่ายจัดการแข่งขันกำหนดใหม่ โดยทำการแข่งขันต่อจากเวลาที่ยุติการแข่งขัน<br />
    •	ในกรณีที่บาดเจ็บจากการแข่งขัน ทางฝ่ายจัดการแข่งขันจะรับผิดชอบในการดูแลการปฐมพยาบาลเบื้องต้นเท่านั้น  การส่งต่อสถานพยาบาลเป็นความรับผิดชอบของโรงเรียน<br />
    <br />
    7.สนามที่ใช้จัดการแข่งขัน<br />
    •	ใช้สนามที่ทางฝ่ายจัดการแข่งขันได้จัดเตรียมไว้ให้ในแต่ละภาค ตั้งแต่รอบคัดเลือกภาคจนถึงรอบชิงชนะเลิศแห่งประเทศไทย<br />
    <br />
    8.การพิจารณามารยาทและการลงโทษนักกีฬา<br />
    •	นักกีฬาที่ถูกผู้ตัดสินคาดโทษหรือลงโทษ การละเมิดกติกาการแข่งขันจถูกผู้ตัดสินคาดโทษ(ใบเหลือง)นักกีฬาคนใดได้ใบเหลือง 2 ใบ จะติดต่อกันหรือไม่ก็ตามให้งดลงทำการแข่งขันในรอบต่อไป แต่กรณีที่ได้รับใบเหลือง 2 ใบในเกมส์แข่งขันเดียวกันนั้น นักกีฬาจะพักอัตโนมัติ 1 เกมส์ และให้ยกเลิกใบเหลืองทั้งสองใบ แต่จะมีผลต่อการนับใบแดง และนักกีฬาได้รับใบเหลืองครบ 3 ใบ(จะนับต่างเกมส์การแข่งขัน)จะต้องพักอีก 1 ครั้ง แต่ถ้าได้รับใบแดงสะสมครบ 2 ครั้ง ต่างเกมส์ให้หมดสิทธิ์ลงเล่นตลอดการแข่งขัน<br />
    •	ในกรณีนักกีฬาเกิดการทะเลาะวิวาท ชกต่อยกัน ให้งดแข่งขันในนัดต่อไปอย่างน้อย 2 ครั้ง หรือตลอดการแข่งขันตามแต่กรณีโทษที่คณะกรรมการฯเห็นสมควร<br />
    •	ในกรณีที่ผู้ตัดสินเชิญเจ้าหน้าที่ทีมออกจากเขตเทคนิค เนื่องจากประพฤติตนที่แสดงออกถึงการไม่ยอมรับ หรือด่าทอผู้ตัดสินด้วยคำหยาบคายไม่สุภาพนั้นจะต้องพักการทำหน้าที่ในรายการต่อไปอีกอย่างน้อย 1 เกมส์ และคณะกรรมการจัดการแข่งขันจะรายงานไปยังต้นสังกัดของเจ้าหน้าที่ต่อไป<br />
    <br />
    9.การพิจารณามารยาทและลงโทษทีม<br />
    •	หากมีปํญหาอื่นใดในการแข่งขัน ให้ถือเป็นสิทธิ์อำนาจของคณะกรรมการจัดการแข่งขันจะพิจารณาตามความเหมาะสม สถานศึกษาจะอุทธรณ์ใดๆไม่ได้ทั้งสิ้น<br />
    •	กรณีกองชียร์หรือเจ้าหน้าที่เข้าไปในสนามโดยไม่ได้รับอนุญาตจะพิจารณาลงโทษตามควรแก่กรณี<br />
    •	หากมีการทะเลาะวิวาท ระหว่างทีมหรือเจ้าหน้าที่ทีม หรือเจ้าหน้าที่กับฝ่ายจัดการแข่งขันหลังจบการแข่งขันแล้ว  จะพิจารณาลงโทษขั้นเด็ดขาดและสถานศึกษาจะอุทธรณ์ใดๆไม่ได้ทั้งสิ้น<br />
    •	ทีมใดฝ่าฝืนส่งนักกีฬาที่ถูกลงโทษให้พักการแข่งขันหรือผิดระเบียบการแข่งขันและส่งลงทำการแข่งขัน ให้ปรับทีมแพ้ ด้วยประตู 2 : 0 ในการแข่งขันครั้งนั้น โดยจะแจ้งว่าคณะกรรมการจัดการแข่งขันไม่แจ้งให้ทราบไม่ได้<br />
    •	ระเบียบการแข่งขันอื่นใดที่ไม่ได้ระบุในระเบียบนี้  ให้อยู่ในดุลยพินิจของคณะกรรมการจัดการแข่งขัน คำตัดสินของคณะกรรมการถือเป็นสิ้นสุดจะอุทธรณ์ใดๆไม่ได้ทั้งสิ้น<br />
    <br />
    10.การถอนทีม<br />
    •	เมื่อมีการจับสลากประกบคู่การแข่งขันแล้ว จะไม่สามารถขอถอนทีมได้ทุกกรณี<br />
    <br />
    11.เงินบำรุงทีมและรางวัลการแข่งขัน  (รอรายละเอียดจาก KING POWER)<br /><br />
    12.การจับสลากประกบคู่และการประชุมทีม<br />
    •	การจับสลากประกบคู่ทุกภาค กำหนดไว้วันอังคารที่ 3 ตุลาคม 2560 ที่โรงแรมพลูแมน ซอยรางน้ำ กรุงเทพมหานคร ในเวลา 14.00 น.<br />
    •	การจับสลากประกบคู่รอบชิงชนะเลิศแห่งประเทศไทย กำหนดไว้วันพฤหัสบดีที่ 13 ธันวาคม 2560 ที่โรงแรมพลูแมน ซอยรางน้ำ กรุงเทพมหานคร ในเวลา 14.00 น.<br />
    •	การประชุมผู้จัดการทีมของแต่ละภาค กำหนดไว้ทุกวันจันทร์ก่อนการแข่งขันของแต่ละภาค ผู้จัดการทีมหรือตัวแทนทีมจะต้องเข้าร่วมประชุมทุกทีม<br />
    •	สอบถามรายละเอียดเพิ่มเติม  นายปิโยรส  บินอาซัน โทร.088-617-5678<br /><br />

    <p><a href="~/home/team" class="btn btn-primary btn-lg center-block">สมัครทาง Online &raquo;</a></p>

</div>

<!-- 
<div class="container">

    <div class="row">

        <div class="col-md-8"></div>

        using (Ajax.BeginForm("Index", "Home", new AjaxOptions { UpdateTargetId = "grid_list", HttpMethod = "POST" }))
        {
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" id="txtSearch" name="txtSearch" class="form-control pull-right" placeholder="Search for name or position">
                    <div class="input-group-btn">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <button class="btn btn-default">Search</button>
                    </div>
                </div>
            </div>
        }


    </div>

    <hr />

    <div id="grid_list" class="row">

        { if (Model.playerList == null)
            {
                Html.Action("ListPlayer", "Home");
            }
            else
            {
                Html.Action("PlayerDetail", "Home", Model);
            }
        }

    </div>
    

</div>-->