html,body{  
	font-family: Tahoma, "MS Sans Serif", AngsanaUPC; 
	font-size: 20px; 
	color: #000000; 
	text-decoration: none;
	line-height: 25px
}

A:link {
	FONT-SIZE: 18px; COLOR: #005ca2; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 18px; COLOR: #0000cc; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 18px; COLOR: #0099ff; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 18px; COLOR: #0099ff; TEXT-DECORATION: underline
}

img{
margin:5px 5px 5px 5px;
	
}
