<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="isport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IsportAllowServiceTo153" value="261,265,267,268,271,272,275,274,277,278,279" />
    <add key="IsportAllowServiceTo148" value="256,280" />
    <add key="Isport_MailErr_To" value="parnupongk@gmail.com,phimonphan.b@i-mobile.samartcorp.com" />
    <add key="Isport_MailErr_Subject" value="Isport BakcOffice Error" />
    <add key="Isport_MailErr_Body" value="Isport BakcOffice Error User : {0} ,Service : {1} ,URL : {2} ,Exception : {3}  " />
    <add key="Isport_MailConfirm_To" value="parnupongk@gmail.com" />
    <add key="Isport_MailConfirm_Subject" value="Wap BakcOffice Confirm Upload Data" />
    <add key="Isport_MailConfirm_Body" value="Wap BakcOffice Confirm User : {0} ,Service : {1} ,URL : {2} ,Message : {3}  " />
    <add key="Isport_EDT_FileUpload" value="E:\Log\{0}" />
    <add key="Isport_EDT_GetDATA" value="http://api.edtguide.com/apps/edt_to_isport/show_data?data_list={0}" />
    <add key="SG_PCAT256" value="258" />
    <add key="Isport_SFTP_Host" value="203.149.30.25" />
    <add key="Isport_SFTP_User" value="isport" />
    <add key="Isport_SFTP_Password" value="isport@clip" />
    <add key="Isport_SFTP_Path" value="" />
    <add key="Isport_URLSMS" value="http://wap.isport.co.th/isportui/?p=" />
    <add key="Isport_URLSMS275" value="http://isport.co.th/isportui/?s=" />
    <add key="Isport_URLSMS274" value="http://wap.tdedlove.com/sms/?p=" />
    <add key="Isport_URLSMS265" value="http://wap.tdedlove.com/kiss/?p=" />
    <add key="Isport_URLSMS267" value="http://siamdaranews.com/?p=" />
    <add key="Isport_URLSMS256" value="http://siamdaranews.com/?s=" />
    <add key="Isport_URLSMS256NEWS" value="http://siamdaranews.com/?n=" />
    <add key="Isport_URLSMS279" value="http://edtguide.net/index/" />
    <add key="Isport_URLSMS280" value="http://siamdaranews.com/darapack/?p=" />
    <add key="Isport_SERVICE_NOURL" value="268" />
    <add key="Isport_URLStreaming" value="wowza.samartbug.com:1935/isport/" />
    <add key="Isport_PathStreamimg" value="/data0/wowza/isport/content/" />
    <add key="Isport_PathStreamimgZero" value="/data0/wowza/isport/content_free/" />
    <add key="Isport_ProjectType" value="isport" />
    <add key="Isport_FolderUpload" value="~/upload/" />
    <add key="isportRoot" value="http://wap.isport.co.th/isport/isport/" />
    <add key="isportPathNewsImages" value="http://sms-gw.samartbug.com/isportimage/images/120x75/" />
    <add key="isportAllowIP" value="203.152.53,203.149.59,203.149.53,192.168.112,127.0.0,203.149.63,203.149.62,58.137.65.10,210.246.156,203.149.3,172.21.8,58.137.65,123.118.90,219.237.242,115.171.0,211.136.28,219.237.242" />
    <add key="DtacLinkGetInfo" value="http://newcpa.dtac.co.th/WAPLink/requestAocAPI.action" />
    <add key="aisSubScribeURL" value="http://ww1.mobilelife.co.th/wis/wap" />
    <add key="isportAcceptPathURL" value="http%3A%2F%2F203.149.62.180%2Fsport_center%2Fpaymentnew%2F" />
    <add key="DtacPID_ChageCode7Day" value="45110531001" />
    <add key="DtacPID_ChageCode50Day" value="45110530001" />
  </appSettings>
  <connectionStrings>
    <add name="IsportUIOracleConnectionString" connectionString="User Id=isport; Password=spirant; Data Source=ISPORTDB;" />
    <add name="IsportUIConnectionString" connectionString="Data Source=192.168.103.181;Initial Catalog=isport;User ID=isportapp;Password=Spirantdb3" providerName="System.Data.SqlClient" />
    <add name="IsportUIPackConnectionString" connectionString="Data Source=192.168.103.181;Initial Catalog=isportpack;User ID=isportapp;Password=Spirantdb3" providerName="System.Data.SqlClient" />
    <add name="IsportUIFeedConnectionString" connectionString="Data Source=192.168.103.181;Initial Catalog=isportfeed;User ID=isportapp;Password=Spirantdb3" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <httpRuntime executionTimeout="2400" maxRequestLength="204800" />
    <mobileControls allowCustomAttributes="true" />
    <deviceFilters>
      <filter name="isHTML32" compare="PreferredRenderingType" argument="html32" />
      <filter name="isWML11" compare="PreferredRenderingType" argument="wml11" />
    </deviceFilters>
    <globalization uiCulture="en" culture="en-US" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxGridView.v8.1, Version=8.1.4.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Web.v8.1, Version=8.1.4.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Web.ASPxEditors.v8.1, Version=8.1.4.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Data.v8.1, Version=8.1.4.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v8.1, Version=8.1.4.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpHandlers>
      <add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </httpHandlers>
  <trust legacyCasModel="true" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
  <applicationSettings>
    <isport.Properties.Settings>
      <setting name="isport_SendService_sendpost" serializeAs="String">
        <value>http://wap.isport.co.th/sport_center/paymentnew/ws/sendpost.asmx</value>
      </setting>
      <setting name="isport_WSUpWowZa_upWowza" serializeAs="String">
        <value>http://localhost:60878/admin/upWowza.asmx</value>
      </setting>
    </isport.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>