<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IsportWSConnectionString" connectionString="Data Source=203.149.62.181;Initial Catalog=isport;User ID=isportapp;Password=Spirantdb3;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-isport_foxhun-20170712100854.mdf;Initial Catalog=aspnet-isport_foxhun-20170712100854;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="isportEntities" connectionString="metadata=res://*/FoxHunDS.csdl|res://*/FoxHunDS.ssdl|res://*/FoxHunDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=203.149.62.181;initial catalog=isport;user id=isportapp;password=Spirantdb3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="isportEntities1" connectionString="metadata=res://*/App_Code.FoxHunDS.csdl|res://*/App_Code.FoxHunDS.ssdl|res://*/App_Code.FoxHunDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=203.149.62.181;initial catalog=isport;user id=isportapp;password=Spirantdb3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ControlNameCBTH" value="การคอนโทรลบอลใต้ความกดดัน,ความกล้าเล่นเมื่อมีบอล,ส่งสั้น,การเปลี่ยนรูปแบบเข้าทำ,การไปกับบอล,เท้าขวา,เท้าซ้าย" />
    <add key="ControlNameSTTH" value="การเก็บบอลในเดนหน้า,การรับบอลใต้การกดดัน,การต่อบอลในแนวรุก,เท้าขวา,เท้าซ้าย" />
    <add key="ControlNameCMTH" value="การคอนโทรลบอลใต้ความกดดัน,ความกล้าเล่นเมื่อมีบอล,ส่งสั้น,การเปลี่ยนรูปแบบเข้าทำ,การไปกับบอล,เท้าขวา,เท้าซ้าย" />
    <add key="ControlNameGKTH" value="การใช้มือ ,การเซฟลูกยิง,(ชอบทุบทิ้ง),(ชอบรับเข้าซอง),ยืนตำแหน่ง,การใช้เท้าขวา ,การใช้เท้าซ้าย,การเซฟลูกซ้ำ" />
    <add key="ControlNameWTH" value="การคอนโทรลบอล,การรับบอลภายใต้ความกดดัน,สิ่งที่ทำได้เมื่อได้บอล,การส่งบอลสั้น,การโยนบอลยาว,การใช้เท้าขวา,การใช้เท้าซ้าย" />
    <add key="AttackNameCBTH" value="การเล่นลูกเซทเพลย์,การรุกกลางอากาศ" />
    <add key="AttackNameSTTH" value="1 v 1,การเล่นลูกกลางอากาศ,การจบสกอร์,การยิงเท้าขวา,การยิ่งเท่าซ้าย,การเปิดบอล" />
    <add key="AttackNameCMTH" value="การดวลตัวต่อตัว,การเล่นลูกกลางอากาศ,การยิง,การครอสบอล" />
    <add key="AttackNameGKTH" value="เตะเปิดเกม,การโยนเตะ,การโยนบอล,การเคลือใต้ความกดดัน,การออกบอล" />
    <add key="AttackNameWTH" value="การดวลตัวต่อตัว,การเล่นลูกกลางอากาศ,การเลี้ยงบอล,การยิง,การครอสบอลจากด้านข้าง" />
    <add key="DefenseNameCBTH" value="การดวลตัวต่อตัว,การเล่นลูกกลางอากาศ,การเข้าสกัด,การเข้าประกบ,การอ่านเกมและดักบอล,การรับรู้ถึงอันตราย,การป้องกันลูกจากริมเส้น,การเพรส,การวิ่งกลับเข้าตำแหน่ง,การดักตัววิ่งจากแถวสอง" />
    <add key="DefenseNameSTTH" value="การดวลตัวต่อตัว,การเข้สกัด,การวิ่งเพรส,การเข้าตำแหน่ง" />
    <add key="DefenseNameCMTH" value="ตัวต่อตัว,ลูกกลางอากาศ,การเข้าสกัด,การปิดพื้นที่,การวิ่งเข้าตำแหน่ง,การประกบผู้เล่นวิ่งสอด" />
    <add key="DefenseNameGKTH" value="การดวลตัวต่อตัว,การเล่นลูกกลางอากาศ,การช่วยเหลือแบค,การเข้าสกัด,การเพรสคู่ต่อสู้,การยืนตำแหน่ง,การวิ่งกลับตำแหน่ง,การวิ่งประกบคู่ต่อสู้" />
    <add key="DefenseNameWTH" value="การดวลตัวต่อตัว,การเล่นลูกกลางอากาศ,การช่วยเหลือแบค,การเข้าสกัด,การเพรสคู่ต่อสู้,การยืนตำแหน่ง,การวิ่งกลับตำแหน่ง,การวิ่งประกบคู่ต่อสู้" />
    <add key="TacktickNameCBTH" value="การรับรู้สิ่งรอบตัว,การหาองศาเข้ารับบอล,การยืนตำแหน่ง,การกลับเข้าสู่ตำแหน่งตามแทคติค" />
    <add key="TacktickNameSTTH" value="การรับรู้สิ่งรอบตัว,การหาพื้นที่,การวิ่งเลี้ยงไลน์,การวิ่งสอด,การเคลื่อนที่โดยไม่มีบอล" />
    <add key="TacktickNameCMTH" value="การรับรู้สิ่งรอบตัว,การหาพื้นที่,การมองหาช่องส่งบอล,การหาพื้นที่รับบอล,การสอดเติมจากแถวสอง,การสร้างสรรค์เกม" />
    <add key="TacktickNameGKTH" value="การเซฟลูกจากด้านข้าง,(ชอบทุบทิ้ง),(ชอบรับเข้าซอง),การยืนตำแหน่ง,การดวลตัวต่อตัว,การอ่านบอลทะลุช่อง" />
    <add key="TacktickNameWTH" value="การรับรู้สิ่งรอบตัว,การหาพื้นที่ด้านข้าง,การวิ่งหาพื้นที่รับบอล,การเข้าทำจากลูกนิ่ง,การรักษาตำแหน่งทางกราบ,การเล่นและความเข้าใจกับแบค,การกลับเข้าตำแหน่งตามเทคติค" />
    <add key="PhysicalNameCBTH" value="การกลับตัว,การกระโดดและสปรินท์,การเคลื่อนตัว,ความแข็งแกร่ง,ความดุดัน" />
    <add key="PhysicalNameSTTH" value="ความเร็ว,การคลื่อนที่,ความแข็งแกร่ง,ความขยัน,การกระโดด,ความคล่องตัว" />
    <add key="PhysicalNameCMTH" value="ความเร็ว,การเคลื่อนที่,ความขยัน,ความแข็งแกร่ง" />
    <add key="PhysicalNameGKTH" value="ความคล่องตัว,ปติกริยา,ความเร็ว,ความแข็งแกร่ง" />
    <add key="PhysicalNameWTH" value="ความเร็ว,ความเร็วกับบอล(เลี้ยง),ความคล่องตัว,ความแข็งแกร่ง,ความดุดัน,ความขยัน" />
    <add key="MentalNameCBTH" value="ความกล้าหาญ,ความเป็นผู้นำ,การเล่นเป็นทีม,การสื่อสาร,การตอบสนองต่อคำติติง,การตอบสนองความผิดพลาด" />
    <add key="MentalNameSTTH" value="ความกล้าหาญ,ความเป็นผู้นำ,การเล่นเป็นทีม,การสื่อสาร,การตอบสนองต่อคำติติง,การตอบสนองความผิดพลาด" />
    <add key="MentalNameCMTH" value="ความกล้าหาญ,ความเป็นผู้นำ,การเล่นเป็นทีม,การสื่อสาร,การตอบสนองต่อคำติติง,การตอบสนองความผิดพลาด" />
    <add key="MentalNameGKTH" value="ความกล้าหาญ,ความเป็นผู้นำ,การเล่นเป็นทีม,การสื่อสาร,การตอบสนองต่อคำติติง,การตอบสนองความผิดพลาด" />
    <add key="MentalNameWTH" value="ความกล้าหาญ,ความเป็นผู้นำ,การเล่นเป็นทีม,การสื่อสาร,การตอบสนองต่อคำติติง,การตอบสนองความผิดพลาด" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>