@model isport_foxhun.Models.PlayerViewModelList

@{
    ViewBag.Title = "listplayer";
    int index = 1;
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<script>


    $(document).ready(function () {
        var compare1 = "";

        $(function () {
            $("#tabs").tabs();
        });

    });

    function GetCompare(id) {
        $.ajax({
            type: "GET",
            url: "/player/compareplayer",
            data: { id: id }
        }).done(function (htmlResponse) {
            //console.log(index);

            if ($("#lblCompare").val() == "") {
                compare1 = "false";
                $("#compare1").html(htmlResponse)
                $("#lblCompare").val("false");
                alert("keep success");
            } else {
                $("#compare2").html(htmlResponse)
                alert("keep success");
            }
            @{
                index++;
            }
        });
    }


</script>

<h2>List Player</h2>

<input id="lblCompare" type="hidden" value="" />
<div class="row" style="margin-left:20px;">

    <div class="col-md-6"></div>

    @using (Ajax.BeginForm("listplayer", "scout", new AjaxOptions { UpdateTargetId = "grid_list", HttpMethod = "POST" }))
    {
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" id="txtSearch" name="txtSearch" class="form-control pull-right" placeholder="Search for name or position">
                <div class="input-group-btn">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <button class="btn btn-default">Search</button>
                </div>
            </div>
        </div>
    }


</div>
<hr />
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">player to scout</a></li>
        <li><a href="#tabs-2">List Player</a></li>
        <li><a href="#tabs-3">Compare Player</a></li>
        
    </ul>
    <div id="tabs-1">
        <div>
            <div id="playertoscout" class="row">
                @Html.Action("playertoscout", "scout", Model)
            </div>
        </div>
    </div>
    <div id="tabs-2">
        <div>
            <div id="grid_list" class="row">

                @Html.Action("PlayerDetail", "scout", Model)

            </div>

        </div>
    </div>
    <div id="tabs-3">
        <div class="row">
            <div id="compare1" class="col-md-6" style="width:50%;max-width:50%;"></div>
            <div id="compare2" class="col-md-6" style="width:50%;max-width:50%;"></div>
        </div>
    </div>
</div>
        
     
        
