<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IsportWSConnectionString" connectionString="Data Source=203.149.62.181;Initial Catalog=isport;User ID=isportapp;Password=Spirantdb3;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-isport_foxhun-20170831033837.mdf;Initial Catalog=aspnet-isport_foxhun-20170831033837;Integrated Security=True" providerName="System.Data.SqlClient" />
    
  <add name="isportEntities" connectionString="metadata=res://*/FoxHunDS.csdl|res://*/FoxHunDS.ssdl|res://*/FoxHunDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=203.149.62.181;initial catalog=isport;user id=isportapp;password=Spirantdb3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key ="Register_Message" value="ขอบคุณที่รวมสมัครการแข่งขันฟุตบอลเยาวชน รุ่นอายุไม่เกิน 15 ปี KING POWER’S CUP 2017 กรุณารอ Email ยืนยัน และกรอกข้อมูลนักกีฬา"/>
    <add key ="AddPlayer_Message" value="ดำเนินการเรียบร้อยค่ะ"/>
    <add key="Isport_Mail_To" value="kingpowerscup@gmail.com" />
    <add key="Isport_Mail_password" value="@kingpowerscup" />
    
    <add key="Isport_MailConfirm_To" value="parnupongk@gmail.com" />
    <add key="Isport_MailConfirm_Subject" value="Confirm Register KING POWER'S CUP 2017" />
    <add key="Isport_MailConfirm_Body" value="&lt;html&gt;
 &lt;body&gt;
 &lt;h2&gt;Confirm Register KING POWER'S CUP 2017&lt;/h2&gt;
 &lt;p&gt;
 This email confirms that your Email and password.
 &lt;/p&gt;
 &lt;p&gt;
 To log on to the site, use the following credentials:
 &lt;/p&gt;
 &lt;table&gt;
 &lt;tr&gt;
 &lt;td&gt;
 &lt;b&gt;Username:&lt;/b&gt;
 &lt;/td&gt;
 &lt;td&gt;
{0}
 &lt;/td&gt;
 &lt;/tr&gt;
 &lt;tr&gt;
 &lt;td&gt;
 &lt;b&gt;Password:&lt;/b&gt;
 &lt;/td&gt;
 &lt;td&gt;
{1}
 &lt;/td&gt;
 &lt;/tr&gt;
 &lt;/table&gt;
 &lt;p&gt;
 If you have any questions or encounter any problems logging in,
 please contact a site administrator.
 &lt;/p&gt;
 &lt;/body&gt;
&lt;/html&gt;  " />
    
    <add key="ControlNameCBTH" value="Receiving Under Pressure/การคอนโทรลบอลใต้ความกดดัน,Short Passing/ความกล้าเล่นเมื่อมีบอล,Long Passing/ส่งสั้น,Control/การเปลี่ยนรูปแบบเข้าทำ,Carrying the Ball Forward/การไปกับบอล,Right Foot/เท้าขวา,Left Foot/เท้าซ้าย" />
    <add key="ControlNameSTTH" value="Hold Up Play/การเก็บบอลในเดนหน้า,Receiving Under Pressure/การรับบอลใต้การกดดัน,Link Up Play/การต่อบอลในแนวรุก,Right Foot/เท้าขวา,Left Foot/เท้าซ้าย" />
    <add key="ControlNameCMTH" value="Control Under Pressure/การคอนโทรลบอลใต้ความกดดัน,Bravery in Possession/ความกล้าเล่นเมื่อมีบอล,Short Passing/ส่งสั้น,Switching Play/การเปลี่ยนรูปแบบเข้าทำ,Running with the Ball/การไปกับบอล,Right Foot/เท้าขวา,Left Foot/เท้าซ้าย" />
    <add key="ControlNameGKTH" value="Handling/การใช้มือ ,Shot Stopping/การเซฟลูกยิง,(Tendency to Punch)/(ชอบทุบทิ้ง),(Tendency to Catch)/(ชอบรับเข้าซอง),Positioning/ยืนตำแหน่ง,Right Foot/การใช้เท้าขวา ,Left Foot/การใช้เท้าซ้าย,Recovery Saves/การเซฟลูกซ้ำ" />
    <add key="ControlNameWTH" value="Control/การคอนโทรลบอล,Receiving Under Pressure/การรับบอลภายใต้ความกดดัน,Positive in Possession/สิ่งที่ทำได้เมื่อได้บอล,Short Passing/การส่งบอลสั้น,Switching Play/การโยนบอลยาว,Right Foot/การใช้เท้าขวา,Left Foot/การใช้เท้าซ้าย" />
    
    <add key="AttackNameCBTH" value="Threat @ Set Plays/การเล่นลูกเซทเพลย์,Aerial Ability/การรุกกลางอากาศ" />
    <add key="AttackNameSTTH" value="1 v 1,Aerial Ability/การเล่นลูกกลางอากาศ,Finishing/การจบสกอร์,Shooting Right Foot/การยิงเท้าขวา,Shooting Left Foot/การยิ่งเท่าซ้าย,Crossing/การเปิดบอล" />
    <add key="AttackNameCMTH" value="1 v 1/การดวลตัวต่อตัว,Aerial Ability/การเล่นลูกกลางอากาศ,Shooting/การยิง,Crossing/การครอสบอล" />
    <add key="AttackNameGKTH" value="Dead Ball Kicks/เตะเปิดเกม,Kicking Out of Hands/การโยนเตะ,Throwing/การโยนบอล,Kicking Under Pressure/การเคลือใต้ความกดดัน,Kicking When Given Time/การออกบอล" />
    <add key="AttackNameWTH" value="1 v 1/การดวลตัวต่อตัว,Aerial Ability/การเล่นลูกกลางอากาศ,Dribbling/การเลี้ยงบอล,Shooting/การยิง,Crossing/การครอสบอลจากด้านข้าง" />
    
    <add key="DefenseNameCBTH" value="1 v 1/การดวลตัวต่อตัว,Aerial Ability/การเล่นลูกกลางอากาศ,Tackling/การเข้าสกัด,Marking/การเข้าประกบ,Reading Game/Interceptions/การอ่านเกมและดักบอล,Sensing Danger/การรับรู้ถึงอันตราย,Defending Crosses/การป้องกันลูกจากริมเส้น,Pressing/การเพรส,Recovery Runs/การวิ่งกลับเข้าตำแหน่ง,Tracking Runners/การดักตัววิ่งจากแถวสอง" />
    <add key="DefenseNameSTTH" value="1 v 2/การดวลตัวต่อตัว,Tackling/การเข้าสกัด,Pressing/การวิ่งเพรส,Recovering into Shape/การเข้าตำแหน่ง" />
    <add key="DefenseNameCMTH" value="1 v 1/ตัวต่อตัว,Aerial Ability/ลูกกลางอากาศ,Tackling/การเข้าสกัด,Closing Down/การปิดพื้นที่,Recovery Runs/การวิ่งเข้าตำแหน่ง,Tracking Runners/การประกบผู้เล่นวิ่งสอด" />
    <add key="DefenseNameGKTH" value="การดวลตัวต่อตัว,การเล่นลูกกลางอากาศ,การช่วยเหลือแบค,การเข้าสกัด,การเพรสคู่ต่อสู้,การยืนตำแหน่ง,การวิ่งกลับตำแหน่ง,การวิ่งประกบคู่ต่อสู้" />
    <add key="DefenseNameWTH" value="1 v 1/การดวลตัวต่อตัว,Aerial Ability/การเล่นลูกกลางอากาศ,Supporting Full Back/การช่วยเหลือแบค,Tackling/การเข้าสกัด,Pressing/การเพรสคู่ต่อสู้,Positional Awareness/การยืนตำแหน่ง,Recovery Runs/การวิ่งกลับตำแหน่ง,Tracking Runners/การวิ่งประกบคู่ต่อสู้" />
    
    <add key="TacktickNameCBTH" value="Awareness/การรับรู้สิ่งรอบตัว,Angles to receive/การหาองศาเข้ารับบอล,Distances/การยืนตำแหน่ง,Recovering to Shape/การกลับเข้าสู่ตำแหน่งตามแทคติค" />
    <add key="TacktickNameSTTH" value="Awareness/การรับรู้สิ่งรอบตัว,Dropping into Space/การหาพื้นที่,Runs off the Shoulder/การวิ่งเลี้ยงไลน์,Running the Channels/การวิ่งสอด,Movement off the Ball/การเคลื่อนที่โดยไม่มีบอล" />
    <add key="TacktickNameCMTH" value="Awareness/การรับรู้สิ่งรอบตัว,Finding Space/การหาพื้นที่,Vision to See a Pass/การมองหาช่องส่งบอล,Dropping to Receive/การหาพื้นที่รับบอล,Timing of Forward Runs/การสอดเติมจากแถวสอง,Creativity/การสร้างสรรค์เกม" />
    <add key="TacktickNameGKTH" value="Dealing With Crosses/การเซฟลูกจากด้านข้าง,(Tendency to Punch)/(ชอบทุบทิ้ง), (Tendency to Catch)/(ชอบรับเข้าซอง),Starting Position/การยืนตำแหน่ง,1 v 1/การดวลตัวต่อตัว,Dealing with Through Ball/การอ่านบอลทะลุช่อง" />
    <add key="TacktickNameWTH" value="Awareness/การรับรู้สิ่งรอบตัว,Finding Space Out Wide/การหาพื้นที่ด้านข้าง,Angles to Receive/การวิ่งหาพื้นที่รับบอล,Direct Play/การเข้าทำจากลูกนิ่ง,Maintaining Width/การรักษาตำแหน่งทางกราบ,Link Up with Full Back/การเล่นและความเข้าใจกับแบค,Recovering into Shape/การกลับเข้าตำแหน่งตามเทคติค" />
    
    <add key="PhysicalNameCBTH" value="Pace When Turning/การกลับตัว,Jump/Spring/การกระโดดและสปรินท์,Mobility/การเคลื่อนตัว,Strength/ความแข็งแกร่ง,Aggression/ความดุดัน" />
    <add key="PhysicalNameSTTH" value="Pace/ความเร็ว,Mobility/การคลื่อนที่,Strength/Pinning/ความแข็งแกร่ง,Work Rate/ความขยัน,Jump/Spring/การกระโดด,Agility/ความคล่องตัว" />
    <add key="PhysicalNameCMTH" value="Pace/ความเร็ว,Mobility/การเคลื่อนที่,Work Rate/ความขยัน,Strength/ความแข็งแกร่ง" />
    <add key="PhysicalNameGKTH" value="Agility/ความคล่องตัว,Reactions/ปติกริยา,Speed/ความเร็ว,Strength/ความแข็งแกร่ง" />
    <add key="PhysicalNameWTH" value="Pace/ความเร็ว,Speed When Dribbling/ความเร็วกับบอล(เลี้ยง),Agility/ความคล่องตัว,Strength/ความแข็งแกร่ง,Aggression/ความดุดัน,Work Rate/ความขยัน" />
    
    <add key="MentalNameCBTH" value="Bravery/ความกล้าหาญ,Leadership/ความเป็นผู้นำ,Team-Work/การเล่นเป็นทีม,Communication/การสื่อสาร,Response to Criticism/การตอบสนองต่อคำติติง,Reaction to Mistakes/การตอบสนองความผิดพลาด" />
    <add key="MentalNameSTTH" value="Bravery/ความกล้าหาญ,Leadership/ความเป็นผู้นำ,Team-Work/การเล่นเป็นทีม,Communication/การสื่อสาร,Response to Criticism/การตอบสนองต่อคำติติง,Reaction to Mistakes/การตอบสนองความผิดพลาด" />
    <add key="MentalNameCMTH" value="Bravery/ความกล้าหาญ,Leadership/ความเป็นผู้นำ,Team-Work/การเล่นเป็นทีม,Communication/การสื่อสาร,Response to Criticism/การตอบสนองต่อคำติติง,Reaction to Mistakes/การตอบสนองความผิดพลาด" />
    <add key="MentalNameGKTH" value="Bravery/ความกล้าหาญ,Leadership/ความเป็นผู้นำ,Team-Work/การเล่นเป็นทีม,Communication/การสื่อสาร,Response to Criticism/การตอบสนองต่อคำติติง,Reaction to Mistakes/การตอบสนองความผิดพลาด" />
    <add key="MentalNameWTH" value="Bravery/ความกล้าหาญ,Leadership/ความเป็นผู้นำ,Team-Work/การเล่นเป็นทีม,Communication/การสื่อสาร,Response to Criticism/การตอบสนองต่อคำติติง,Reaction to Mistakes/การตอบสนองความผิดพลาด" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>