<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="isport_jza.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    
    
    
  </configSections>

  <appSettings>
    <!--add key="APIKISSMODELMAIN"  value="http://wap.isport.co.th/isportws/kissmodel.aspx?ap=KissModel&amp;pn=main&amp;date={0}&amp;imei=12345&amp;imsi=12345"/-->
    <add key="APIKISSMODELMAIN" value="http://192.168.103.180/isportws/kissmodel.aspx?ap=KissModel&amp;pn=main&amp;date={0}&amp;imei=12345&amp;imsi=12345"/>
    <add key="URLClip" value="rtsp://203.149.30.25:1935/jza/{0}"/>
    <add key="URLClipiPhone" value="http://203.149.30.25:1935/applications/jza/{0}/playlist.m3u8"/>
    <add key="URLGetMSISDN" value="http://wap.isport.co.th/isportws/testpost.aspx?r=http://zabtube.com/"/>
    <add key="URLSubscribeJza"
      value="http://wap.isport.co.th/sport_center/sms/confirm.aspx?pssv_id=566&amp;command=S&amp;pro=D&amp;=zabtube.com.net&amp;mp_code=0811"/>
    <add key="URLPopUpBanner" value="http://kissmodel.net/inner.aspx?id=75b6db6d-36b7-4e4c-9c5b-18e5d76298e1"/>
    <add key="MPCODE" value="0811"/>
  </appSettings>

  <connectionStrings>
    <add name="IsportUIOracleConnectionString" connectionString="User Id=isport; Password=spirant; Data Source=ISPORTDB_192.168.102.66;"/>
    <add name="IsportUIConnectionString" connectionString="Data Source=192.168.103.181;Initial Catalog=isport;User ID=isportapp;Password=Spirantdb3"
      providerName="System.Data.SqlClient"/>
    <add name="IsportUIPackConnectionString" connectionString="Data Source=192.168.103.181;Initial Catalog=isportpack;User ID=isportapp;Password=Spirantdb3"
      providerName="System.Data.SqlClient"/>
    <add name="IsportUIFeedConnectionString" connectionString="Data Source=192.168.103.181;Initial Catalog=isportfeed;User ID=isportapp;Password=Spirantdb3"
      providerName="System.Data.SqlClient"/>
    <add name="IsportUIConnectionStringp" connectionString="Data Source=.;Initial Catalog=wisport;User ID=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <isport_jza.Properties.Settings>
      <setting name="isport_jza_isportWS_push" serializeAs="String">
        <value>http://localhost/isportws/push.asmx</value>
      </setting>
    </isport_jza.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>